
.firstsection{
  /* background-color:rgb(49, 13, 13) !important; */
  background-image: url('../src/assets/bg.jpeg');

  background-repeat: no-repeat;
  background-size: 100%;
  height: max-content;
  padding-bottom: 180px;
  background-size: cover;
}
.App-header{
  width:90% !important;
margin: 0 auto;
display: grid !important;
grid-template-columns:repeat(3,1fr);
padding: 2rem;
}
.App{
  width: 100% !important; 
}
.links{
display: flex;
gap: 4rem;

}
.links a{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  
  text-align: center;
  
  color: #FFFFFF;
}

.links a:hover{
  color:#E07335;
}
.logo{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  
  color:white;
}
.right{
  text-align: right;
}
.firstsectioncontent{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.heading{
  padding-top: 7rem;
  padding-left: 2rem;
}
.head{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 75px;
color:#FFFFFF

}
.p{
  color:#FFFFFF;
  width:75%
}
.button{
  background-color: #E07335;
  color:white;
  border: none;
  width: 189px;
  padding: 1rem;
  border-radius: 20px;
  font-size: 15px;
  
}
.coffee{
color: #E07335;
}
.img{
  width:70%;
  height: 500px;
  text-align: center;
  padding: 4rem;
}
.secondsection{
  width: 100%;
  background-color:  #BFB279;
  padding-bottom: 20px;
  padding-top: 2rem;

}
.secondhead{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 68px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}
.secondpara{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 24px;
width:75%;
color: #FFFFFF;
margin: 0 auto;
text-align: center;
}
.imge{
  text-align: center;
}
.cards{
  width:85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4,1fr) !important;
  gap:1rem;
  margin-top:60px;
  
  z-index: -1;
}


.card{


}
.btndiv{
  width:70%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:2rem;
  margin: 0 auto;
  margin-top: 50px;
 
}
.btn{
border: none;
width: 225px;
height: 64px;
cursor: pointer;
color:white;
background: #E07335;
border-radius: 15px;
}
.imgdiv{
  display: flex;
  justify-content: center;
  z-index: 1;
}
.imgsec{

  width:150px;
  height: 150px;
  border-radius: 50%;
 
}
.thirdsection{
  
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem;
  padding-bottom: 8rem;
}.border{
  box-sizing: border-box;

width: 550px;
height: 326px;

position: relative;
border: 1px solid #FFFFFF;
}
.box{
 padding: 20px;
  display: flex;
  justify-content: center;
}
.imgthird{
  height: 360px;
}
.thirdhead{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 68px;
/* identical to box height */


color: #FFFFFF;
}
.thirdpara{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #FFFFFF;
}
.btnthird{
  box-sizing: border-box;


width: 150px;
height: 44px;
color:white;
background: none;
border: 1px solid #E07335;
border-radius: 40px;
margin-top: 20px;
}
.fourthsection{
  background-color: #BFB279; 
  text-align: center;
  color:black;
  padding: 1rem;
}
.fourhead{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 68px;
color:black 
}
.fourpara{
  font-family: 'Poppins';
font-style: normal;

font-size: 18px;

color:black 
}

.cta {
  background-attachment: scroll;
}
.cta {
 
  background: linear-gradient(rgba(30, 35, 45, 0.9), rgba(30, 35, 45, 0.9)), url(https://img.freepik.com/free-photo/coffee-beans-top-view-background_176474-1987.jpg?w=996&t=st=1673244321~exp=1673244921~hmac=f28daacd92eabe1b901e46cdc471e7e3afe85bba66ec9b2d6886472cd317e8a0) fixed center center;
  background-size: cover;
  padding: 4rem;
text-align: center;
  align-items: center;
}
.hirerami{
  font-size: 45px;
  color:#E07335;
  text-align: center;
  font-weight: 650;

}
.buttonhirerami{
  
  background-color:#E07335;
  font-weight: 250;
  border:none ;
  padding: 1rem 2rem ;
  border-radius: 18px;
  box-shadow: 0 24px 36px -11px rgb(0 0 0 / 9%);
  color:#26282b;
  font-size: 18px;
  font-weight: 250 !important;
  margin-left: 10px;
  
}
.ctahead{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 68px;
  /* identical to box height */
  
  
  color: #FFFFFF;
}
@media screen and (max-width:1025px){
  .App-header{
    width:95%;
  }
  .firstsectioncontent{
    display: grid;
    grid-template-columns:1fr 1.5fr;
    padding-left: 4rem !important;
  }
  .cards{
    width:95%;
 
    grid-template-columns: repeat(3,1fr) !important;
   
  }
  .btndiv{
    width:90%;
    gap:1rem;
    margin: 0 auto;
    margin-top: 50px;
   
  }
  .btn{
    width:100%;
  }
  .thirdsection{
    grid-template-columns: 1fr;
 
    text-align: center;
    align-items: center;
  }
  .story{
    margin-top: 60px;
  }
  .border{
    margin: 0 auto;
  }
  .btnthird{
    margin: 0 auto;
  }
}
@media screen and (max-width:769px){
  .App-header{
    width:95%;
  }
  .firstsectioncontent{
    display: grid;
    grid-template-columns:1fr;

  }
  
  .button{
    margin-bottom: 0px;
  }
  .heading{
    padding-top: 0rem;
    margin-top: 4rem;
    padding-left: 0rem;
  }
  .links{
    display: none;
  }
  .App-header{
    width:90% !important;
 
  grid-template-columns:1fr 1fr;
 
  }
 .cards{
  grid-template-columns: 1fr 1fr!important;
 }
}
@media screen and (max-width:600px){
  .App-header{
    width:95% !important;
  margin: 0 auto;
  display: grid !important;
  grid-template-columns:1fr 1fr;
  padding: .5rem;
  }
  .firstsectioncontent{
    width:100%;
    padding-left: 1rem !important;

  }
  .firstsection{ 
    
    background-image: url('https://img.freepik.com/free-photo/top-view-hot-espresso-with-brown-coffee-seeds-brown-wooden-desk-coffee-cup-drink_140725-28168.jpg?w=740&t=st=1673260095~exp=1673260695~hmac=4c84872abf763951adef3055405ce2fa2741500cc9a2872171f8f1629b371c7c');
  }
  .p{
    display: none;
  }
  .cards{
    grid-template-columns: 1fr  !important;
   }
   .secondpara{
    width:95%;
   }
   .btndiv{
    width:90%;
    grid-template-columns: 1fr 1fr;
   }
   .border{
    width: 100%;
    
   }
   .thirdsection{
    padding: .5rem;
    padding-bottom: 2rem;
    

   }
   .thirdpara{
    text-align: justify;
   }
   .thirdhead{
    text-align: center;
   }
   .secondpara{
    text-align: justify;
   }
   .heading{
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   }
   .head{
    font-size: 50px;
    text-align: center;
   }
  
}